<div class="row">

  <!-- Left Column -->
  <div class="col">
    <div class="d-flex flex-column">
      <div class="p-2">
        <h4>Create Muscle Object to API: </h4>
      </div>
      <div class="p-2">
        <form (submit)="onCreate()">

          <!-- Region DEFAULT: PECTORAL for ease of data entry-->
          <!-- <div class="form-group">
            <label>Region:</label>
            <input type="text" class="form-control" placeholder="Region" name="newMuscle.region"
              [(ngModel)]="newMuscle.region">
            <h2 *ngIf="MuscleError.region.length">{{MuscleError.region}}</h2>
          </div> -->

          <div class="form-group">
            <label>Compartment:</label>
            <input type="text" class="form-control" placeholder="Compartment" name="newMuscle.compartment"
              [(ngModel)]="newMuscle.compartment">
            <h2 *ngIf="MuscleError.compartment.length">{{MuscleError.compartment}}</h2>
          </div>

          <!-- Name -->
          <div class=" form-group">
            <label>Muscle Name:</label>
            <input type="text" class="form-control" placeholder="Muscle Name" name="newMuscle.name"
              [(ngModel)]="newMuscle.name">
            <h2 *ngIf="MuscleError.name.length">{{MuscleError.name}}</h2>
          </div>

          <!-- Origin -->
          <div class="form-group">
            <label>Origin:</label>
            <input type="text" class="form-control" placeholder="Origin" name="newMuscle.origin"
              [(ngModel)]="newMuscle.origin">
            <h2 *ngIf="MuscleError.origin.length">{{MuscleError.origin}}</h2>
          </div>

          <!-- Insertion -->
          <div class="form-group">
            <label>Insertion:</label>
            <input type="text" class="form-control" placeholder="Insertion" name="newMuscle.insertion"
              [(ngModel)]="newMuscle.insertion">
            <h2 *ngIf="MuscleError.insertion.length">{{MuscleError.insertion}}</h2>
          </div>

          <!-- Nerve Supply -->
          <div class="form-group">
            <label>Nerve Supply:</label>
            <input type="text" class="form-control" placeholder="Nerve Supply" name="newMuscle.nerveSupply"
              [(ngModel)]="newMuscle.nerveSupply">
            <h2 *ngIf="MuscleError.nerveSupply.length">{{MuscleError.nerveSupply}}</h2>
          </div>

          <!-- Action -->
          <div class="form-group">
            <label>Action:</label>
            <input type="text" class="form-control" placeholder="Action" name="newMuscle.action"
              [(ngModel)]=" newMuscle.action">
            <h2 *ngIf="MuscleError.action.length">{{MuscleError.action}}</h2>
          </div>


          <!--

          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div> -->
          <button class="btn btn-success" type="submit">Create</button>
        </form>
      </div>
      <div class="p-2">Flex Item 3 Placeholder</div>
    </div>
  </div>

  <!-- Right Mini-Column -->
  <div class="col">
    <div class="table">
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>Muscle Name</th>
            <th>Origin</th>
            <th>Insertion</th>
            <th>Nerve Supply</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let muscle of allMuscle">
            <td scope="row">{{muscle.name}}</td>
            <td>{{muscle.origin}}</td>
            <td>{{muscle.insertion}}</td>
            <td>{{muscle.nerveSupply}}</td>
            <td>{{muscle.action}}</td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>